* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Mise en page */
html {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgb(24, 203, 0) 0%, rgba(75,173,0,0.21014132165605093) 100%);
}

/* Texte */
h1, h2 {
  text-align: center;
  margin-top: 100px;
  color: lightgoldenrodyellow;
}
h1 {
  font-size: 3rem;
}

/* Buttons */
button {
 border: none;
  width: 150px;
  margin: 20px;
  height: 150px;
  border-radius: 999px;
  color: white;
}
.green {
  background-color: hsl(2, 76%, 31%);
}
.red {
  background-color: rgba(123, 114, 250, 0.637);
}